<section hidden>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-url">Link</label>
            <input id="post-url" name="post-url" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            <a href="/post/{{post.id}}" class="edit-link">
                <!--<a href="/dashboard/edit/{{post.id}}" class="edit-link">-->
                {{> post-info post }}
            </a>
        </li>
        {{/each}}
    </ul>

    <button class="create-post-btn">
        <a href="/dashboard/create">Create Post</a>
    </button>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>