{{> post-info post}}

{{#if loggedIn}}

{{#if isOwner}}
<a href="/dashboard/edit/{{post.id}}" class="button mt-2 mb-2">Edit</a>
{{/if}}

<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}